.header{
    position: absolute;
    width: 1020px;
    height: 95px;
    top: 0px;
    background: #2D303A;
    border-bottom: 6px solid #323746;
}

.logo{
    position: absolute;
    width: 124px;
    height: 25px;
    left: 40px;
    top: 29px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.logo::after{
    content: "*";
    color: #F06C64;
}

.main__nav{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 375px;
    height: 14px;
    left: 605px;
    top: 42px;
}

.main__nav__link{
    font-family: Lato;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.035em;
    color: #ffffff;
}

.dot{
    color: #ffffff; 
}

.main__nav__link:hover{
    color: #F06C64;
}

.slider{
    position: absolute;
    width: 1020px;
    height: 594px;
    top: 95px;
    background: #F06C64;
    border-bottom: 6px solid #EA676B;
}

.shadow__vertical{
    position: absolute;
    left: 10.98%;
    right: 65.49%;
    top: 9%;
    bottom: 10.5%;
    background: url(assets/phone-vertical-shadow.png);
}

.body__vertical{
    position: absolute;
    width: 216px;
    height: 458px;
    left: 10.93%;
    right: 67.89%;
    top: 9.09%;
    bottom: 13.8%;
    background: url(assets/body-vertical.png);
}

.display__vertical{
    position: absolute;
    left: 12.22%;
    right: 69.35%;
    top: 19.83%;
    bottom: 24.67%;
    background: url(assets/phone-vertical-display.png);
    border-top: 0.02px solid #161616;
    border-bottom: 0.02px solid #161616;
        box-shadow: 0 0 0 2.98px #c7c7c7, 0 0 0 3px #c7c7c7, 0 0 0 3.03px #c7c7c7, 0 0 0 3px #c7c7c7 ;
}

.shadow__horizontal{
    position: absolute;
    left: 41.54%;
    right: 11.11%;
    top: 29.5%;
    bottom: 30.5%;
    background: url(assets/phone-horizontal-shadow.png);
}

.body__horizontal{
    position: absolute;
    width: 458px;
    height: 216px;
    left: 41.67%;
    right: 13.43%;
    top: 29.71%;
    bottom: 33.92%;
    background: url(assets/body-horizontal.png);
}

.display__horizontal{
    position: absolute;
    left: 47.42%;
    right: 19.93%;
    top: 31.83%;
    bottom: 36.83%;
    background: url(assets/phone-horizontal-display.png);
    border-right: 0.02px solid #161616;
    border-left: 0.02px solid #161616;
        box-shadow: 0 0 0 3px #c7c7c7, 0 0 0 2.98px #c7c7c7, 0 0 0 3px #c7c7c7, 0 0 0 3.03px #c7c7c7;
}

.arrow__left{
    position: absolute;
    width: 16px;
    height: 27px;
    left: 3.92%;
    top: 50%;
    transform: translateY(-50%);
    background: #E94348;
    background: url(assets/arrow-left.svg);
}

.arrow__left:hover{
    border: 3px solid #E94348;
    cursor: pointer;
}

.arrow__right{
    position: absolute;
    width: 16px;
    height: 27px;
    right: 3.92%;
    top: 50%;
    transform: translateY(-50%);
    background: #E94348;
    background: url(assets/arrow-right.svg);
}

.arrow__right:hover{
    border: 3px solid #E94348;
    cursor: pointer;
}

.services{
    position: relative;
    width: 1020px;
    top: 695px;
    height: 494px;
    background: #F2F2F2;
    border-bottom: 6px solid #FFFFFF ;
}

h2{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    margin-left: 40px;
    color: #666D89;
}

h3{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 18px;
    color: #666D89;
}

h4{
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    margin-left: 40px;
    color: #767E9E;
}

p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767E9E;
}


.services__header{
    position: relative;
    display: flex;
    width: 171px;
    height: 95px;
    align-items: flex-end;
}

.services__description{
    position: relative;
    display: flex;
    width: 940px;
    height: 83px;
    align-items: center;
}

.services__list__container{
    display: grid;
    flex-wrap: wrap;
    grid-template: 'a a a';
    justify-content: left;
    width: 300px;
    height: 80px;
    margin: 40px -20px;
}

.services__list{
    display: flex;
    align-items: flex-start;
    margin: 4px 0 25px 0;
    list-style: none;
}

.services__list__content{
    flex: 1;
    width: 220px;
}

.services__list__icon{
    display: flex;
    justify-content: center;
    margin: 5px 20px;
    width: 60px;
    height: 60px;
    border: 2px solid #666D89;
    border-radius: 50%;
}    

.portfolio__section{
    position: relative;
    width: 1020px;
    top: 1195px;
    height: 864px;
    background: #2D303A;
    border-bottom: 6px solid #323746;
}

.portfolio__header{
    position: relative;
    display: flex;
    width: 130px;
    height: 95px;
    align-items: flex-end;
}

.portfolio__description{
    position: relative;
    display: flex;
    width: 940px;
    height: 60px;
    align-items: center;
}

.filter__list{
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
    grid-template: 'a a a a';
    position: relative;
    height: 22px;
    width: 342px;
    justify-content: flex-start space-evenly;
    align-items: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
}

.tag_bordered1{
    text-align: center;
    text-decoration: none;
    color: #767E9E;
    border: 1px solid #767E9E;
    border-radius: 5px;
    width: 28px;
    padding: 5px;
    margin-right: 16px;
}

.tag_bordered2{
    text-align: center;
    text-decoration: none;
    color: #767E9E;
    border: 1px solid #767E9E;
    border-radius: 5px;
    width: 77px;
    padding: 5px;
    margin-right: 16px;
}

.tag_bordered3{
    text-align: center;
    text-decoration: none;
    color: #767E9E;
    border: 1px solid #767E9E;
    border-radius: 5px;
    width: 93px;
    padding: 5px;
    margin-right: 16px;
}

.tag_bordered4{
    text-align: center;
    text-decoration: none;
    color: #767E9E;
    border: 1px solid #767E9E;
    border-radius: 5px;
    width: 56px;
    padding: 5px;
}

.filter__list:hover{
    border-color: 1px solid #DEDEDE;
}

.portfolio__section__container{
    display: flex;
    list-style: none;
    width: 1020px;
    flex-wrap: wrap;
    position: relative;
    margin: 20px 0;
}

.portfolio_img{
    margin: 0;
    padding: 0;
    width: calc(25%-20px);
    height: calc(25%-20px);
}

li:nth-child(1n+13){
    display: none;
}

.portfolio_img{
    border: 6px solid #323746;
    outline: 4px;
    width: 230px;
    height: 197px;
}

.footer{
    position: relative;
    width: 1020px;
    height: 76px;
    top: 2065px;
    background: #2D303A;
}

h5{
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    color: #666D89;
}

.copyright{
    position: absolute;
    width: 118px;
    height: 13px;
    left: 3.92%;
    top: 50%;
    transform: translateY(-50%);
}

.social__icon{
    display: inline-block;
    width: 32px;
    height: 32px;
}

.social__icon:hover{
    color: #284cdd;
    cursor: pointer;
}

.social__button{
    position: absolute;
    display: grid;
    flex-wrap: wrap;
    grid-template: 'a a a a';
    list-style: none;
    justify-content: space-evenly;
    width: 200px;
    top: 60%;
    transform: translateY(-50%);
    margin-inline-start: 75%;
}

*{
    margin: 0;
    box-sizing: border-box;

html{
    font-size: 10px;

}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    font-family: 'Lato', Verdana, sans-serif;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1020px;
    padding-right: 10px;
    padding-left: 10px;
  }
  
