@font-face {
  font-family: "Lato";
  src: url("../assets/Lato FONT/LatoRegular.eot");
  src: local("Lato-Regular"), local("Lato Regular"), local("Lato-Normal"),
    local("Lato Normal"),
    url("../assets/Lato FONT/LatoRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Lato FONT/LatoRegular.woff") format("woff"),
    url("../assets/Lato FONT/LatoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/Lato FONT/LatoRegular.eot");
  src: local("Lato-Regular"), local("Lato Regular"), local("Lato-Normal"),
    local("Lato Normal"),
    url("../assets/Lato FONT/LatoRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Lato FONT/LatoRegular.woff") format("woff"),
    url("../assets/Lato FONT/LatoRegular.ttf") format("truetype");
  font-style: 300;
  font-weight: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/Lato FONT/LatoRegular.eot");
  src: local("Lato-Regular"), local("Lato Regular"), local("Lato-Normal"),
    local("Lato Normal"),
    url("../assets/Lato FONT/LatoRegular.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/Lato FONT/LatoRegular.woff") format("woff"),
    url("../assets/Lato FONT/LatoRegular.ttf") format("truetype");
  font-style: 900;
  font-weight: normal;
}

.normal__text {
  font-family: "Lato", Verdana, sans-serif;
  font-weight: normal;
}

.light__text {
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 300;
}

.heavy__text {
  font-family: "Lato", Verdana, sans-serif;
  font-weight: 900;
}
